# Ansible managed

[Unit]
Requires=network.target
After=network.target

[Service]
Type=notify
TimeoutStartSec=120
ExecStart=/usr/bin/flanneld \
  -etcd-certfile /etc/flannel/server.crt \
  -etcd-keyfile /etc/flannel/server.key \
  -etcd-endpoints "
{%- for i in groups['etcd_cluster'] %}
{%- if loop.last %}
https://{{ i }}:2379
{%- else %}
https://{{ i }}:2379,
{%- endif %}
{%- endfor %}
"

[Install]
WantedBy=multi-user.target
